In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import numpy as np
import matplotlib.pyplot as plt

from src.data_exploration.data_exploration import *

In [3]:
df = read_sqlite_table('housedata', './data/processed/rome_house_raw.db')

In [4]:
df.columns

Index(['macrozoneId', 'idHouse', 'latitude', 'longitude', 'price',
       'buildingYear', 'surface', 'rooms', 'bathrooms', 'floor', 'floors',
       'garage', 'isNew', 'luxury', 'typology', 'category', 'features'],
      dtype='object')

In [5]:
cols_to_drop = ['macrozoneId', 'idHouse','isNew', 'category']
df = df.drop(cols_to_drop, axis=1)
df.shape

(15339, 13)

In [6]:
df.dtypes

latitude        float64
longitude       float64
price            object
buildingYear      int64
surface          object
rooms            object
bathrooms        object
floor           float64
floors            int64
garage            int64
luxury           object
typology         object
features         object
dtype: object

In [7]:
df['luxury'].unique()

array(['False', 'True'], dtype=object)

In [8]:
# Sostituisci i valori 'No' con '0'
df['luxury'] = df['luxury'].replace('False', '0')
df['luxury'] = df['luxury'].replace('True', '1')

# Converti la colonna 'garage' in dtype intero
df['luxury'] = df['luxury'].astype(int)

In [9]:
df['luxury'].dtypes

dtype('int32')

In [10]:
df['typology'].unique()

array(['Appartamento', 'Attico - Mansarda', 'Villa', 'Palazzo - Edificio',
       'Villetta a schiera', 'Rustico - Casale', 'Casa indipendente',
       'Loft'], dtype=object)

In [12]:
# tipologie = ['Appartamento', 'Attico - Mansarda', 'Villa', 'Palazzo - Edificio',
#        'Villetta a schiera', 'Rustico - Casale', 'Casa indipendente',
#        'Loft']

# for tipologia in tipologie:
#     df[tipologia] = 0
    
# for tipologia in tipologie:
#     df.loc[(df['typology'].str.contains(tipologia)), tipologia] = 1

In [17]:
# df = df.drop('typology', axis=1)

In [11]:
df.head()

,latitude,longitude,price,buildingYear,surface,rooms,bathrooms,floor,floors,garage,luxury,typology,features
0,41.845798,12.545600,96000,1955,114 m²,3,1,-1.0,3,0,0,Appartamento,"terrazza, cantina, Infissi esterni in doppio v..."
1,41.845501,12.489500,500000,1971,122 m²,4,2,4.0,6,1,0,Appartamento,"cancello elettrico, Fibra ottica, videoCitofon..."
2,41.843842,12.489600,430000,1971,110 m²,3,2,1.0,4,1,0,Appartamento,"Cucina, balcone, terrazza, Solo Cucina Arredat..."
3,41.848701,12.487170,359000,1960,118 m²,3,1,5.0,8,0,0,Appartamento,"Impianto di allarme, Cucina, balcone, Giardino..."
4,41.841084,12.498786,625000,2021,126 m²,4,2,5.5,6,1,0,Attico - Mansarda,"Cucina, balcone, terrazza, Infissi esterni in ..."

In [12]:
df1 = df.copy()

In [13]:
df1[['surface','m2']] = df1['surface'].str.split(pat=" ", n= 1, expand=True)
df1 = df1.drop(['m2'], axis=1)
df1['surface'] = df1['surface'].str.replace('.','')
df1['surface'] = df1['surface'].astype(int)

C:\Users\raffa\AppData\Local\Temp\ipykernel_27628\2987068435.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['surface'] = df1['surface'].str.replace('.','')

In [14]:
df1.dtypes

latitude        float64
longitude       float64
price            object
buildingYear      int64
surface           int32
rooms            object
bathrooms        object
floor           float64
floors            int64
garage            int64
luxury            int32
typology         object
features         object
dtype: object

In [17]:
df1['bathrooms'].unique()

array(['1', '2', '3', '3+'], dtype=object)

In [18]:
df1['rooms'].unique()

array(['3', '4', '5+', '2', '1', '5'], dtype=object)

In [28]:
df3.dtypes

latitude              float64
longitude             float64
price                  object
buildingYear            int64
surface                 int32
rooms                   int32
bathrooms               int32
floor                 float64
floors                  int64
garage                  int64
luxury                  int32
features               object
Appartamento            int64
Attico - Mansarda       int64
Villa                   int64
Palazzo - Edificio      int64
Villetta a schiera      int64
Rustico - Casale        int64
Casa indipendente       int64
Loft                    int64
dtype: object

In [19]:
df2 = df1.copy()
df2['price'] = df2['price'].str.replace('€','').str.replace('.','').str.replace(' ','')
df2['price'] = df2['price'].astype(float)

C:\Users\raffa\AppData\Local\Temp\ipykernel_27628\1001120157.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['price'] = df2['price'].str.replace('€','').str.replace('.','').str.replace(' ','')

In [20]:
df2.dtypes

latitude        float64
longitude       float64
price           float64
buildingYear      int64
surface           int32
rooms            object
bathrooms        object
floor           float64
floors            int64
garage            int64
luxury            int32
typology         object
features         object
dtype: object

In [21]:
df2.head()

,latitude,longitude,price,buildingYear,surface,rooms,bathrooms,floor,floors,garage,luxury,typology,features
0,41.845798,12.545600,96000.0,1955,114,3,1,-1.0,3,0,0,Appartamento,"terrazza, cantina, Infissi esterni in doppio v..."
1,41.845501,12.489500,500000.0,1971,122,4,2,4.0,6,1,0,Appartamento,"cancello elettrico, Fibra ottica, videoCitofon..."
2,41.843842,12.489600,430000.0,1971,110,3,2,1.0,4,1,0,Appartamento,"Cucina, balcone, terrazza, Solo Cucina Arredat..."
3,41.848701,12.487170,359000.0,1960,118,3,1,5.0,8,0,0,Appartamento,"Impianto di allarme, Cucina, balcone, Giardino..."
4,41.841084,12.498786,625000.0,2021,126,4,2,5.5,6,1,0,Attico - Mansarda,"Cucina, balcone, terrazza, Infissi esterni in ..."

In [22]:
save_to_sql('./data/processed/rome_house_processing.db', df2, 'housedata')